.NavBar {
  color: #F6F6F7;
  background-color: #613FE5;
  border-bottom: solid 1px #F6F6F7;
}

.NavLink {
  color: #F6F6F7;
  padding: 5px;
}

.Active i {
  color: #120E16;
}

.Active a {
  color: #EDEFFE;
  transition: color ease-in-out 0.3s;
}

.Active a:hover {
  color: #F6F6F7;
  text-decoration: none;
}

.Active a:hover i {
color: #120E16;
transition: color ease-in-out 0.3s;
}

i {
color: #cfced3;
font-size: 1.6rem;
padding: 7px;
vertical-align: middle;
}

i:hover {
cursor: pointer;
transition: color ease-in-out 0.3s;
}
