.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }
 
.profilebox {
  background-color: #F6F6F7;
  padding: 10px;
}

  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 250px;
      height: 250px;
    }
  }

