.ProfileImage {
    object-fit: cover;
    height: auto;
    max-width: 100%;
    margin: 4px;
    border: 1px solid #120E16;
  }
 
.ProfileBox {
  background-color: #F6F6F7;
  padding: 10px;
}

.border {
  border: 1px solid black;
}

.TextAlignCenter {
  text-align: center;
}
