.ScrollButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  
.ScrollButton:hover {
opacity: 0.7;
}