.App {
    font-family: 'Sono', sans-serif;
    color: #EDEFFE;
    background-color: #373B61;
    min-height: 100vh;
}

.Main {
    padding-top: 100px;
}

a {
    color: #EDEFFE;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #2142b2;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #2142b2;
  }

  Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }